body {
    background-color: #2596be;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    width: 100vw;
  }
  .flag-container {
    display: flex;
    flex-direction: column;
    height: 200px; /* Adjust the height as needed */
    width: 300px; /* Adjust the width as needed */
    justify-content: center; /* Center the flag horizontally */
  }
  
  .flag-color-one {
    background-color: #00209f; /* Haitian flag blue */
    height: 100px; /* Adjust the height as needed */
  }
  
  .coat-of-arms {
    background-color: white;
    height: 50px; /* Adjust the height as needed */
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Haiti-coat-of-arms.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  }
  
  .flag-color-two {
    background-color: #ce1126; /* Haitian flag red */
    height: 100px; /* Adjust the height as needed */
  }
  
