body {
    background-color: #2596be;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    width: 100vw;
  }
  
  .flag-color-one {
    background-color: #0053a0; /* Haitian flag blue */
    height: 100px; /* Adjust the height as needed */
  }
  
  .symbol {
    background-color: white;
    height: 50px; /* Adjust the height as needed */
  }
  
  .flag-color-two {
    background-color: #ce1126; /* Haitian flag red */
    height: 100px; /* Adjust the height as needed */
  }
  